* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
#header header {
  background-color: transparent;
}
#header nav {
  padding: 0 16px;
  background-color: rgba(108, 117, 125, 0.5607843137);
}
#header nav .melogo {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
#header nav .navbar-nav {
  display: flex;
  align-items: center;
}
#header nav .navbar-nav .nav-li .a-link {
  font-family: "Poppins", sans-serif;
  margin: 10px 12px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #fff;
  transition: all 0.3s ease;
  line-height: normal;
  position: relative;
}
#header nav .navbar-nav .nav-li .a-link:hover {
  color: rgba(255, 255, 255, 0.6470588235);
}
#header nav .navBtn .navAncor {
  background-color: #2250FC;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 12px 18px;
  border-radius: 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
  line-height: 14px;
  cursor: pointer;
}
#header nav .navBtn .navAncor:hover {
  background-color: #1f0892;
}

#banner {
  position: relative;
}
#banner .ban_vidslider .banItm {
  width: 100%;
}
#banner .ban_vidslider .banItm video {
  width: 100%;
}
#banner .me-prev3 {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 90;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #fff;
  border-radius: 50%;
}
#banner .me-prev3:hover {
  background-color: #738be4;
}
#banner .me-prev3:hover i {
  color: #fff;
}
#banner .me-next4 {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 90;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #fff;
  border-radius: 50%;
}
#banner .me-next4:hover {
  background-color: #738be4;
}
#banner .me-next4:hover i {
  color: #fff;
}
#banner .bannerOverlay {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}
#banner .bannerOverlay .banner_title {
  max-width: 85%;
  margin: auto;
  text-align: center;
}
#banner .bannerOverlay .banner_title h1 {
  font-size: 74px;
  line-height: 86px;
  color: #fff;
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 0.2), 8px 8px 16px rgba(100, 100, 100, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.6);
}
#banner .bannerOverlay .banner_title .banner_p {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 5px;
}

#layout {
  padding: 100px 0;
}
#layout .layout_heading {
  width: 70%;
  margin: auto;
  text-align: center;
}
#layout .layout_heading h1 {
  font-size: 74px;
  line-height: 86px;
  color: #fff;
  color: #2250FC;
}
#layout .layout_heading p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: 0;
  color: #777;
}
#layout .layout_gallery .layout_items .layout_text {
  padding: 20px 0;
  text-align: center;
}

#recent_work .work_heading h1 {
  font-size: 74px;
  line-height: 86px;
  color: #fff;
  color: #000;
  position: relative;
}
#recent_work .work_heading h1::after {
  width: 250px;
  height: 1px;
  background-color: #000;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: inline-block;
}
#recent_work .work_heading p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: 0;
  color: #777;
  margin-top: 30px;
}
#recent_work .work_gallery .work_items {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#recent_work .work_gallery .work_items .w-items-slide .w-slide-inner .W-slide_img {
  width: 100%;
}
#recent_work .work_gallery .work_items .me-prev {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 90;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #fff;
  border-radius: 50%;
}
#recent_work .work_gallery .work_items .me-prev:hover {
  background-color: #738be4;
}
#recent_work .work_gallery .work_items .me-prev:hover i {
  color: #fff;
}
#recent_work .work_gallery .work_items .me-next {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 90;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #fff;
  border-radius: 50%;
}
#recent_work .work_gallery .work_items .me-next:hover {
  background-color: #738be4;
}
#recent_work .work_gallery .work_items .me-next:hover i {
  color: #fff;
}
#recent_work .work_gallery .work_items .me-prev1 {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 90;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #fff;
  border-radius: 50%;
}
#recent_work .work_gallery .work_items .me-prev1:hover {
  background-color: #738be4;
}
#recent_work .work_gallery .work_items .me-prev1:hover i {
  color: #fff;
}
#recent_work .work_gallery .work_items .me-next2 {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 90;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #fff;
  border-radius: 50%;
}
#recent_work .work_gallery .work_items .me-next2:hover {
  background-color: #738be4;
}
#recent_work .work_gallery .work_items .me-next2:hover i {
  color: #fff;
}
#recent_work .work_gallery .work_items::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6431372549) url(../assets/images/hoverImg.webp);
  background-repeat: repeat;
  transform: scale(2);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  pointer-events: none;
  touch-action: none;
  transition: all 0.3s linear 0s;
}
#recent_work .work_gallery .work_items:hover::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

#watch {
  display: flex;
  margin: 100px 0;
}
#watch .watchItem {
  width: 1/3;
  position: relative;
  overflow: hidden;
}
#watch .watchItem img {
  width: 100%;
}
#watch .watchItem::after {
  position: absolute;
  right: -45%;
  top: 0;
  content: "";
  width: 150%;
  height: 50%;
  background: rgba(255, 255, 255, 0.5019607843);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
  z-index: 99;
  transition: ease-in-out 0.5s;
  pointer-events: none;
  touch-action: none;
}
#watch .watchItem:hover::after {
  right: 100%;
  top: 200%;
}

#watch > * {
  flex-basis: 100%;
}

#asNavfor {
  background: url(../assets/images/asnavbg.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  z-index: -100;
}
#asNavfor .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  width: 100%;
}
#asNavfor .slider .mainslider {
  width: 40%;
  padding: 50px;
  position: relative;
}
#asNavfor .slider .mainslider .item-slider {
  width: 100%;
  z-index: 2;
  background: #fff;
  border-radius: 45%;
  overflow: hidden;
}
#asNavfor .slider .mainslider .item-slider .items img {
  width: 100%;
}
#asNavfor .slider .mainslider .item-slider .items h1 {
  font-size: 36px;
  line-height: 1.32;
  margin: 0 0;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #fff;
}
#asNavfor .slider .mainslider .item-slider .items p {
  font-size: 18px;
  color: #fff;
}
#asNavfor .slider .mainslider .star {
  position: absolute;
  left: 13%;
  bottom: 13%;
  z-index: 2;
  animation: wheel 150s linear infinite;
}
#asNavfor .slider .mainslider .star img {
  width: auto;
}
@keyframes wheel {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10000deg);
  }
}
#asNavfor .slider .mainslider .gear {
  position: absolute;
  top: 9%;
  left: 10%;
  z-index: 1;
}
#asNavfor .slider .mainslider .gear img {
  width: auto;
}
#asNavfor .slider .mainslider .line {
  position: absolute;
  left: 75%;
  top: 10%;
}
#asNavfor .slider .mainslider .line img {
  width: auto;
}
#asNavfor .slider .mainslider1 {
  width: 55%;
}
#asNavfor .slider .mainslider1 .text-slider {
  width: 100%;
}
#asNavfor .slider .mainslider1 .text-slider .items {
  width: 100%;
  margin: 0 10px;
}
#asNavfor .slider .mainslider1 .text-slider .items h1 {
  font-size: 36px;
  line-height: 1.32;
  margin: 0 0;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #fff;
  padding-bottom: 30px;
}
#asNavfor .slider .mainslider1 .text-slider .items img {
  width: 40px;
}
#asNavfor .slider .mainslider1 .text-slider .items p {
  font-size: 18px;
  color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  position: relative;
}
#asNavfor .slider .mainslider1 .text-slider .items p::after {
  position: absolute;
  left: 2%;
  bottom: -3.5px;
  content: "";
  background: pink;
  width: 70px;
  height: 6px;
  border-radius: 3px;
}
#asNavfor .slider .mainslider1 .text-slider .items .ddesig {
  padding: 10px 0;
}
#asNavfor .slider .mainslider1 .text-slider .items .ddesig h3 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}
#asNavfor .slider .mainslider1 .text-slider .items .ddesig h4 {
  font-size: 16px;
  font-weight: 400;
  color: #cdf2fe;
  text-transform: capitalize;
}
#asNavfor .slider .mainslider1 .asnavbtn {
  display: inline-flex;
  gap: 10px;
}
#asNavfor .slider .mainslider1 .asnavbtn i {
  width: 60px;
  height: 40px;
  background: #738be4;
  border-radius: 5px;
  display: grid;
  place-items: center;
  color: #fff;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */