@import "../mixins/mixin";
@import "../variable/variable";
#watch{
    display: flex;
    margin: 100px 0;
    .watchItem{
        width: 1/3;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
        }
        &::after{
            position: absolute;
            right: -45%;
            top: 0;
            content: "";
            width: 150%;
            height: 50%;
            background: #ffffff80;
            transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
            z-index: 99;
            transition: ease-in-out .5s;
            pointer-events: none;
            touch-action: none;
        }
        &:hover{
            &::after{
                right: 100%;
                top: 200%;
            }
        }
    }
}
#watch > *{
    flex-basis: 100%;
}